
<h1><%= "Rotation #{@rotation.id}" %></h1>
<h2><%= @rotation.description %></h2>

<style>
body {
  background-color: initial !important;
}
</style>

<h3>Not Signed Up</h3>
<ul>
<% @un_signed_up_residents.each do |resident| %>
  <li><%= "#{resident.unit.name} - #{resident.name}" %></li>
<% end %>
</ul>

<h3>Signed Up</h3>
<ul>
<% @signed_up_residents.each do |resident| %>
  <li><%= "#{resident.unit.name} - #{resident.name}" %></li>
<% end %>
</ul>
