
<style>
body {
  background-color: initial !important;
}
.text-strike {
  text-decoration: line-through;
}
.text-underline {
  text-decoration: underline;
}
</style>

<h1 class="text-underline"><%= "Rotation #{@rotation.id}" %></h1>
</br>
<h2 class="text-success"><%= @rotation.description %></h2>
</br>

<ul>
  <% @eligible_cooks.each do |resident| %>
    <li class="<%= @signed_up_residents_ids.include?(resident.id) ? 'text-strike text-muted' : 'text-bold text-italic' %>"><%= "#{resident.unit.name} - #{resident.name}" %></li>
  <% end %>
</ul>
