<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Resident / Unit Balances for Current Reconciliation</h1>
    <p>
      Meal costs have now been locked and it's time collect and distribute $. Here are the final balances.
    </p>
    <p>
      <%= link_to 'Residents', @resident_balances %>
    </p>
    <p>
      <%= link_to 'Units', @unit_balances %>
    </p>
    <p>~Admin
  </body>
</html>
