<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Semi-Annual Reconciliation</h1>
    <p>
      It's time once again to reconcile our Common Meals. In preparation, please ensure all your meal costs are accurate. View all your cooking slots for the last 6 months <%= link_to 'here', @url %>.
    </p>
    <p>
      Meals will be locked and final balances will be sent out in 2 weeks.
    </p>
    <p>Have a great day!</p>
    <p>~<%= @community.name %>
  </body>
</html>
