
<div class="flex space-between w-30">
  <%= link_to 'Subscribe to All Meals', api_v1_community_ical_url(protocol: :webcal, format: :ics, id: @community&.id) %>
  <br />
  <%= link_to 'Subscribe to My Meals', api_v1_resident_ical_url(protocol: :webcal, format: :ics, id: @resident_id) %>
</div>
