<footer>
  <h4 class="text-center text-secondary">
    Created by&nbsp
    <a
      href="https://github.com/joyvuu-dave/comeals-rewrite"
      target="_blank"
      rel="noopener"
      class="text-secondary"
    >
      David
    </a>
    <span id="version" class="text-small">v<%= version %></span>
  </h4>
</footer>
