<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The new roation has been posted!</h1>
    <p>
      A new rotation has just been created for the period <%= @rotation.description %>.
    </p>
    <p>
      Sign up to cook and attend dinner now: <%= @url %>.
    </p>
    <p>Have a great day!</p>
    <p>~<%= @community.name %>
  </body>
</html>
