<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reset your Comeals.com password, <%= @resident.name %></h1>
    <p>
      To reset your password, <%= link_to 'follow this link.', @url %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
