
<%= content_tag :div,
  id: "meal-id",
  data: {
    production: Rails.env.production?
}.to_json do %>
<% end %>

<div class="container">
  <h1>Welcome to Comeals</h1>
  <p>Manage your community!</p>
  <p>
    <h2>Manager</h2>
    <a href="/managers/sign-up">Sign Up</a>&nbsp&nbsp
    <a href="<%= Rails.env.production? ? 'https://' : 'http://' %>admin.comeals<%= Rails.env.production? ? '.com/' : '.dev/' %>">Login</a>
  </p>

  </br>

  <p>
    <h2>Resident</h2>
    <a href="/residents/login">Login</a>
  </p>
</div>
