<h1>Welcome to Comeals</h1>
<p>Manage your community!</p>
<p>
  <h2>Manager</h2>
  <a href="/managers/sign-up">Sign Up</a>
  <a href="http://admin.comeals.dev/">Login</a>
</p>

</br>

<p>
  <h2>Resident</h2>
  <a href="/residents/login">Login</a>
</p>
