
<header class="flex space-between header">
  <h2 class="padding-left-small">Comeals</h2>
  <a href="<%= Rails.env.production? ? 'https://' : 'http://' %>admin.comeals<%= Rails.env.production? ? '.com/' : '.dev/' %>" class="padding-right-small">admin</a>
</header>
<div class="box">
  <br />
  <div id="resident_login"></div>
  <br />
  <p>
    <div class="width-50">
      <h3>Create an Account</h3>
      <p>Add your community and start managing your common meals today!</p>
      <a href="/communities/new" class="button">Sign Up</a>
    </div>
  </p>
  </div>

<%= javascript_pack_tag 'residents/login' %>
