<h1><%= @meal.date %></h1>

<h2>Audits</h2>
<ul>
<% @meal.audits.each do |audit| %>
  <li><%= "#{audit.user&.name || 'Admin'} made this change: #{audit.audited_changes}" %></li>
<% end %>
</ul>


<h2>Assoicated Audits</h2>
<ul>
<% @meal.associated_audits.each do |audit| %>
  <li><%= "Person: #{audit.user&.name || 'Admin'} made this change: #{audit.audited_changes}" %></li>
<% end %>
</ul>
