/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

:root {
  --page-width: 800px;
  --section-height: 600px;
  --my-orange: #F4A261;
  --bulma-gray: hsl(0, 0%, 48%);
  --mango-tango: #FF8C42;
  --hasana-yellow: #E9C46A;
  --livid: #6699CC;
}

body {
  background-color: var(--livid);
}

header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  background-color: var(--hasana-yellow);
}

/* Flex container, centered content*/
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: var(--page-width);
}

.center-box {
  width: var(--page-width);
  margin: 1em 0 1em 0;
}

.meal-box {
  border: 1px solid black;
}

#meal {
  height: var(--section-height);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 25px 1fr 1fr;
  grid-template-areas:
    "a1 a1 .   .  .  .   .  .  .   .  .  . "
    "a2 a2 a2  a2 a3 a3  a3 a3 a3  a3 a3 a3"
    "a4 a4 a4  a4 a4 a4  a5 a5 a5  a5 a5 a5";
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: a2;
}

.menu {
  grid-area: a3;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.menu-title {

}

.menu-text {

}

.cooks {
  grid-area: a4;
}

.info {
  grid-area: a5;
}

#attendees {
  min-height: var(--section-height);
}

.button-bar {
  grid-area: a1;
  display: flex;
  justify-content: space-between;
}
