<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Post your common meal. Sign up for others. Reconcile the costs.">
    <title>Comeals</title>
    <link rel="manifest" href="/manifest.webmanifest">
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="main"></div>
    <div id="footer"></div>
  </body>
</html>
