<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Meals</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta8/shoelace.css">
    <%= stylesheet_link_tag    'current_resident', media: 'all' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
