<!DOCTYPE html>
<html>
  <head>
    <title>Meals</title>
    <%= stylesheet_link_tag    'current_resident', media: 'all' %>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
