<!DOCTYPE html>
<html>
  <head>
    <title>Meals</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/checkbox.css/1.1.3/css/checkbox.min.css">
    <%= stylesheet_link_tag    'current_resident', media: 'all' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>

  <body>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
