<!DOCTYPE html>
<html>
  <head>
    <title>Meals</title>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= stylesheet_link_tag    'current_resident', media: 'all' %>
  </head>

  <body>
    <a href="/meals/<%= @meal.id %>/log">Changes</a>
    <div id="root"></div>
    <%= yield %>
  </body>
</html>
